.Side-root {
  @include flexroot(column, flex-start);
  height: calc(100vh - 85px - 25px);
  width: 200px;
  text-align: left;
  align-items: flex-start;
}
.Side-title {
  @include side-margin($margin-primary);
  margin-top: $margin-primary;
}
.Side-cont {
  @include side-margin($margin-secondary);
  margin-top: $margin-primary;
  width: calc(100% - 36px);
  height: 462px;
  @include shadow;
}
.Side-item {
  @include side-margin($margin-secondary);
  cursor: pointer;
}
