@import "./variables";
@import "./mixins";
@import "./nav";
@import "./dash";
@import "./table";
@import "./sidebar";

.Main-root {
  font-size: 1rem;
  @include test($red);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
