@import "./variables";
@import "./mixins";
@import "./nav";
@import "./dash";
@import "./table";
@import "./sidebar";

#root {
  display: flex;
  justify-content: center;
  align-content: center;
}
.Main-root {
  font-size: 1rem;
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
